.displaydata img {
  height: 450px;
  width: 100%;
  left: 320px;
  border-radius: 8px;
}
.firstPara {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.firstpartOfFirstPara {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.insideFirstpart1 {
  margin-right: 24px;
}
.secondpartOfFirstPara {
  display: flex;
  justify-content: center;
  align-items: center;
}
.insideFirstpart1 img {
  width: 60px;
  height: 60px;
}
