.mainContainer {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin: 0 auto;
}
.blogdisplaycontainer {
  display: grid;
  grid-template-columns: repeat(3fr, 1fr);
  margin-left: 15px;
  border: 2px solid aqua;
  margin-right: 310px;
}
