.spentTime {
  background-color: rgba(96, 71, 236, 0.1);
  border: 1px solid #6047ec;
  border-radius: 8px;

  padding: 25px 50px;
}
.spentTime h4 {
  color: #6047ec;
  text-align: center;
}

.blogTitle {
  padding: 15px;
  margin: 20px;
  text-align: center;
}
.blogtext {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */
}
.secondpartOfFirstPara p {
  margin-top: 0;
  margin-bottom: 0;
}
.bookmarkedDashBoad {
  margin-top: 25px;
  background: rgba(17, 17, 17, 0.05);
  border-radius: 8px;
}

@media only screen and (max-width: 572px) {
  .spentTime {
    margin-top: 30px;
  }
}
